.partners1 h1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.partners2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 150px;
}
.imegess{
    height: 249px;
    width: 241px;
    border-radius: 8px;
    
}
.partners2 >div{
    width: 250px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.partners1{
    height: 80vh;
}