*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #ddd;
}
.warapper{
  max-width: 1440px;
  margin: 0 auto;
  background:rgba(249, 250, 255, 1);
}
button {
  border: none;
  border-radius: 5px;
}